<div class="container portfolio">
	<div class="row">
		<div class="col-md-12">
			<div class="heading">				
				<img src="https://image.ibb.co/cbCMvA/logo.png" />
			</div>
		</div>	
	</div>
	<div class="bio-info">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="bio-image">
							<img src="../../assets/luizavidal.jfif" alt="Imagem da Luiza Vidal" />
						</div>			
					</div>
				</div>	
			</div>
			<div class="col-md-6">
				<div class="bio-content">
					<h1>Quem sou</h1>
					<h3>Jornalista especializada em Saúde</h3>
					<h3>Saúde e Comunicação. Duas áreas que sou apaixonada. Sou jornalista formada pela Universidade Metodista de São Paulo (2013). Atualmente, trabalho na ProfilePR, no atendimento da empresa de saúde global Novo Nordisk Brasil. Desde então, já passei por diversos veículos como Grupo Bandeirantes de Comunicação, Folha de S. Paulo e UOL. Também trabalhei nas empresas New Content e Creditas. </h3>
					<!-- <p>P.S I have no special talent, I'm just passionately curious ;)</p> -->
				</div>
			</div>
		</div>	
	</div>
</div>