<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 image-grid-item">
            <div style="background-image: url(https://cdn.beam.usnews.com/dims4/USNEWS/59f1d50/2147483647/thumbnail/970x647/quality/90/?url=http%3A%2F%2Fcom-usnews-beam-media.s3.amazonaws.com%2F28%2F21%2F37a23a5f40048594e7e1209a842d%2F150427-networking-stock.jpg	);"
                class="image-grid-cover">
                <a  style="cursor: pointer;" [routerLink]="['/quemsou']" class="image-grid-clickbox"></a>
                <a  style="cursor: pointer;" [routerLink]="['/quemsou']" class="cover-wrapper">Etkinlikler</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 image-grid-item">
            <div style="background-image: url(https://cdn.bolgegundem.com/d/news/333778.jpg	);"
                class="entry-cover image-grid-cover has-image">
                <a style="cursor: pointer;" [routerLink]="['/portfolio']"class="image-grid-clickbox"></a>
                <a style="cursor: pointer;" [routerLink]="['/portfolio']" class="cover-wrapper">Düğünler</a>
            </div>
        </div>
        
    
    </div>
</div>